<section aria-label="bestseller abschnitt" class="px-md-4" id="{% if page_title == "Products" %}product__section{% else %}bestseller__section{% endif %}">
    <h2>
        {{section.settings.title}}
    </h2>

    {% if page_title == "Products" %}
        <ul class="d-flex flex-column flex-lg-row align-items-center my-5 my-lg-0">
            {% assign product_filter_linklist = section.settings.produkt-filter.links %}
            {% for link in product_filter_linklist %}
                <li class="">
                    <a href="{{ link.url }}" class="text-white">
                        {{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card__wrapper">

        {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %}
            <div class="bg-white position-relative">
                <img class="position-absolute" src="{{ product.featured_image | img_url: '150x150' }}" alt="{{ product.featured_image | img_url: 'medium' }}">
                <div class="card__wrapper--header | d-flex align-items-center justify-content-between">
                    <h3>
                        {{product.title}}
                    </h3>
                    <p class="card__price">
                        {{product.price | money}}
                    </p>
                </div>
                <div class="card__wrapper--info | mt-2 mb-4">
                    <div>
                        {% for tag in product.tags %}
                            <span class="card__tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <p>
                        {{product.description}}
                    </p>
                </div>

                <a class="main__btn" href="{{product.url}}">
                    Erfahre mehr
                    <span class="visually-hidden">über
                        {{product.title}}</span>
                </a>

            </div>
        {% endfor %}

    </div>
</section>

{% schema %}

{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Unsere Bestseller",
            "label": "Title"
        }, {
            "type": "collection",
            "id": "featured_collection",
            "label": "Produkte"
        }, {
            "type": "range",
            "id": "number_of_products_to_show",
            "min": 3,
            "max": 12,
            "default": 3,
            "label": "Anzahl der Produkte"
        }, {
            "type": "link_list",
            "id": "produkt-filter",
            "label": "Produkt Filter"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}

{% endschema %} 