<header class="navbar navbar-light fixed-top bg-white flex-md-nowrap p-0" style="
                                                                                                                                                                                                                                                                                                        background-color: #f5f5f5 !important;
                                                                                                                                                                                                                                                                                                        ">


    <div class="col-md-4 col-lg-3 me-0 logo__wrapper d-flex align-items-center justify-content-md-between">

        <a class="navbar-brand " href="/">
            {% render 'icon-logo' %}
        </a>

        <a href="/cart">
            {% render 'icon-shopping-bag' %}
            <span class="cart__item--count">{{cart.item_count}}</span>
        </a>
    </div>

    <button aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler position-absolute d-md-none collapsed" data-bs-target="#sidebarMenu" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if page_title contains "Search" %}
        <div></div>
    {% else %}
        <form action="{{ routes.search_url }}" method="get" class="form-control mx-md-5 mt-3">
            <input aria-label="Search" class="border-none" name="q" placeholder="Suche" type="search">
            <button class="second__btn" type="submit">
                {% render 'icon-search' %}
            </button>
        </form>
    {% endif %}
</header>
<div class="row">
    <nav class="col-md-4 col-lg-3 d-md-block bg-white sidebar collapse" id="sidebarMenu" x-cloak x-data="{ mobileMenuOpen: false }">

        <ul>
            {% assign main_menu_linklist = section.settings.menu.links %}
            {% for link in main_menu_linklist %}
                {% case link.title %}
                    {% when "Home" %}
                        <li class="{% if link.current %}active{% endif %}">
                            <a href="{{ link.url }}" class="d-flex align-items-center gap-2">
                                {% render 'icon-home' %}
                                {{ link.title }}</a>
                        </li>
                    {% when "Produkte" %}
                        <li class="{% if link.current %}active{% endif %}">
                            <a href="{{ link.url }}" class="d-flex align-items-center gap-2">
                                {% render 'icon-cd' %}
                                {{ link.title }}</a>
                        </li>
                    {% when "Shops" %}
                        <li class="{% if link.current %}active{% endif %}">
                            <a href="{{ link.url }}" class="d-flex align-items-center gap-2">
                                {% render 'icon-location' %}
                                {{ link.title }}</a>
                        </li>
                    {% when "Über uns" %}


                        <li class="{% if link.current %}active{% endif %}">
                            <a href="{{ link.url }}" class="d-flex align-items-center gap-2">
                                {% render 'icon-team' %}
                                {{ link.title }}</a>
                        </li>
                    {% else %}
                {% endcase %}
            {% endfor %}
        </ul>
        <article class="d-flex h-67">
            <div class="mt-auto">
                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                        <a href="{{ routes.account_url }}" class="text-base text-gray-500 hover:text-gray-900">account</a>
                        {{ 'Ausloggen'  | customer_logout_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
                    {% else %}
                        {{ 'Einloggen' | customer_login_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
                        {{ 'Registrieren' | customer_register_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
                    {% endif %}
                {% endif %}
            </div>
        </article>
    </nav>

</div>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "mobile_menu_title",
            "default": "Menu",
            "label": "Mobile Menu Title"
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading Navigation Menu"
        }
    ]
}
{% endschema %}